@value colors: "../colors.module.css";
@value primaryLight, secondaryMain, grey0 from colors;

.bar {
  position: fixed;
  z-index: 9;
  top: 0;
  border-bottom: 1px solid primaryLight;
  width: 100%;
  min-width: 425px;
  background-color: grey0;
  transform: translateY(-100%);
  transition: transform 0.2s;
}

.visible {
  transform: translateY(0);
}

.bar > div:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: secondaryMain;
  transform-origin: left;
}

.visible > div:nth-child(2) {
  height: 3px;
}
