@value colors: "../colors.module.css";
@value primaryLight, grey0 from colors;

.bar {
  position: fixed;
  top: 0;
  border-bottom: 1px solid primaryLight;
  width: 100%;
  background-color: grey0;
  transform: translateY(-100%);
  transition: transform 0.2s;
}

.visible {
  transform: translateY(0);
}
