@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@value colors: "../colors.module.css";
@value primaryMain, secondaryMain, grey0, grey800, grey900 from colors;

body {
  font-family: "Poppins", sans-serif;
  color: grey900;
}

a {
  color: grey900;
  text-decoration: none;
}

span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.variant-h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
}

.variant-h2 {
  font-size: 48px;
  font-weight: 600;
}

.variant-h3 {
  font-size: 32px;
  font-weight: 600;
}

.variant-h4 {
  font-size: 27px;
  font-weight: 600;
}

.variant-h5 {
  font-size: 24px;
  font-weight: 600;
}

.variant-body1 {
  font-size: 13px;
  font-weight: 400;
}

/* stały rozmiar */
.variant-caption {
  font-size: 14px;
  font-weight: 400;
}

.weight-bold {
  font-weight: 600;
}

.color-primaryMain {
  color: primaryMain;
}

.color-secondaryMain {
  color: secondaryMain;
}

.color-grey0 {
  color: grey0;
}

.color-grey800 {
  color: grey800;
}

@media (max-width: 540px) {
  .variant-h1 {
    font-size: 48px;
    line-height: 64px;
  }
}
